<div class="center jumbotron">
  <h1>Replicon code challenge submission</h2>
  <h2>
    Features 
  </h2>
  <h3>Agent sign up</h3>
  <h3>Password resets</h3>
  <h3>SSH secure</h3>
  <h3>Tested</h3>
  <h2>Plus:</h2>
  <h3>PostgreSQL</h3>
  <h3>Figaro configurable</h3>
  <h3>Mobile friendly</h3>
  <h3>Nginx/Phusion Passenger/Docker deployed</h3>
  <% if current_agent.nil? %>
    <%= link_to "Sign up now!", new_agent_registration_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
