<% provide(:title, 'Employees') %>
<h1>Employees</h1>

<% if !@employees.nil? %>
  <ul class="employees">
    <% @employees.each do |employee| %>
    <li>
      <span class="col-xs-12">
        <%= link_to employee['name'], employee_path(employee['id']) %>
      </span>
    </li>
    <% end %>
  </ul>
<% end %>
<br />
<div id='calendar' data-events="<%= @events.to_json %>" data-start-date="<%= @start_date.to_formatted_s(:db) %>"></div>
