<% provide(:title, 'Create agent') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@agent) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Create agent", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
